<button
  class="w-full flex flex-row items-center justify-between p-[8px] text-[#000000] h-[44px] hover-btn {{ btn_level | remove: '.' }}"
  data-root-title="{{ root_title }}"
  data-title="{{ link_value.title }}"
  data-btn-level="{{ btn_level }}"
>
  <span class="text-[18px] font-normal pointer-events-none">
    {{ link_value.title }}
  </span>
  {% if link_value.links != blank %}
    <span class="block w-[1.125rem] h-[1.125rem] pointer-events-none">
      {% render 'chevron-right', color: '#000000' %}
    </span>
  {% endif %}
</button>
