<button
  class="w-full flex flex-row items-center justify-between p-[8px] text-[#000000] h-[44px] hover-btn {{ btn_level | remove: '.' }}"
  data-root-title="{{ root_title}}"
  data-title="{{ link_title_value }}"
  data-btn-level="{{ btn_level }}"
  link-btns
>
  <span class="text-[18px] font-normal pointer-events-none">
    {{ link_title_value }}
  </span>
  {% if has_links != blank and btn_level != '.level-2-link-btn' %}
    <span class="block w-[1.125rem] h-[1.125rem] pointer-events-none">
      {% render 'chevron-right', color: '#000000' %}
    </span>
  {% endif %}
</button>
