{% capture link_headers %}
<div class="link-headers flex flex-col gap-y-2 w-full">
  <span class="p-[8px] h-[44px]">
    <h1 class="text-[18px] text-left text-[#373737] font-bold pointer-events-none link-title"></h1>
  </span>
  <span class="cursor-pointer p-[8px] h-[44px]">
    <h1
      class="text-[18px] text-left text-[#5E6F77] font-normal pointer-events-none link-secondary-title"
    ></h1>
  </span>
</div>
{% endcapture %}

{% liquid
  assign menu_levels = 'root-level-link,level-1-link,level-2-link,custom_images_container' | split: ','
%}

<navigation-menu-main
  data-main-container-selector="#menu-container"
  data-nav-icon-selector="#nav-icon"
  data-root-link-btn-selector=".root-level-link-btn"
  data-root-link-container-selector="root-level-link-container"
  data-custom-image-conatiner-selector=".custom-images"
  data-link-container-selector=".link-container"
  data-hamburger-icon-selector=".hamburger-icon"
  data-exit-icon-selector=".exit-icon"
  data-screen-type="large_screen"
  class="fixed hidden show-large-screen flex-col h-full w-full"
>
  <div class="flex flex-row items-start mt-[1rem] w-[124px] h-[8%]">
    <div class="py-2 px-3">
      <button id="nav-icon" class="flex items-center justify-center text-black w-[1.5rem] h-[1.5rem]">
        <span class="hamburger-icon">
          {% render 'icon-hamburger' %}
        </span>
        <span class="exit-icon hidden">
          {% render 'exit-icon' %}
        </span>
      </button>
    </div>
    <h1 class="text-black text-[22px]">Shop</h1>
  </div>

  <div
    id="menu-container"
    class="hidden grid-cols-12 w-full h-[92%]"
  >
    {% for link_level in menu_levels %}
      {% if link_level != 'custom_images_container' %}
        <navigation-large-screen-component
          class="link-container col-span-3 bg-white overflow-y-auto h-full"
          data-link-level-container="{{ link_level }}-container"
          data-btn-link-level=".{{ link_level }}-btn"
          data-custom-menu-attribute=".custom-menu-container"
          data-custom-image-selector=".custom-images"
          data-link-container-selector="link-container"
          data-links-title-selector=".link-title"
          data-links-secondary-selector=".link-secondary-title"
          data-root-level-link-selector=".root-level-link-btn"
        >
          {% assign link_btn_value = link_level | prepend: '.' | append: '-btn' %}
          {% if link_level == 'root-level-link' %}
            {% render 'navigation-link-container',
              btn_level: link_btn_value,
              menu_link_lists: menu_link_lists,
              screen: 'large_screen'
            %}
          {% else %}
            {% render 'navigation-link-container',
              btn_level: link_btn_value,
              menu_link_lists: menu_link_lists,
              link_headers: link_headers,
              screen: 'large_screen'
            %}
          {% endif %}

          {{ custom_menu_categories }}
        </navigation-large-screen-component>
      {% else %}
        <div class="custom-images hidden col-span-3  gap-y-6 bg-white overflow-y-auto">
          {{ custom_images }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</navigation-menu-main>

<script
  type="module"
  defer="defer"
  src="{{ 'navigation-menu-main.js' | asset_url }}"
></script>

<script
  type="module"
  defer="defer"
  src="{{ 'navigation-large-screen-component.js' | asset_url }}"
></script>
