{% liquid
  assign list_wrapper_class = 'text-xl text-center flex flex-col p-2 gap-y-2 w-full'
  assign header_wrapper_class = 'p-[8px] h-[44px] pointer-events-none'
  assign header_class = 'text-[18px] text-left text-[#373737] font-bold pointer-events-none'
%}

{% if link_level_container_selector == 'root-level' %}
  <div
    data-link-level-container="{{ link_level_container_selector }}-link-container"
    data-btn-level=".{{ link_level_container_selector }}-link-btn"
    data-parent-title="{{ block.settings.parent_link }}"
    class="custom-menu-container hidden"
  >
    <ul
      class="{{ list_wrapper_class }}"
    >
      <span class="{{ header_wrapper_class }}">
        <h1
          class="{{ header_class }}"
        >
          {{ block.settings.heading }}
        </h1>
      </span>
    </ul>
  </div>
{% else %}
  <div
    custom-menu-container
    data-link-level-container="{{ link_level_container_selector }}-link-container"
    data-btn-level=".{{ link_level_container_selector }}-link-btn"
    data-parent-title="{{ block.settings.parent_link }}"
    class="custom-menu-container hidden"
  >
    <hr>
    <ul
      class="{{ list_wrapper_class }}"
    >
      <span class="{{ header_wrapper_class }}">
        <h1
          class="{{ header_class }}"
        >
          {{ block.settings.heading }}
        </h1>
      </span>

      {% for custom_menu in block.settings.custom_menu.links %}
        {% assign btn_level = block.settings.menu_level | prepend: '.' | append: '-link-btn' %}
        {% render 'navigation-link-buttons',
          has_links: custom_menu.links,
          link_title_value: custom_menu.title,
          root_title: block.settings.parent_link,
          btn_level: btn_level
        %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if link_level_container_selector == 'level-1' %}
  {% for custom_menu in block.settings.custom_menu.links %}
    {% if custom_menu.links != blank %}
      {% for child_link in custom_menu.links %}
        <div
          custom-menu-container
          data-link-level-container="level-2-link-container"
          data-btn-level=".level-2-link-btn"
          data-parent-title="{{ custom_menu.title }}"
          class="custom-menu-container hidden"
        >
          <ul
            class="{{ list_wrapper_class }}"
          >
            {% render 'navigation-link-buttons',
              has_links: child_link.links,
              link_title_value: child_link.title,
              root_title: custom_menu.title,
              btn_level: '.level-2-link-btn'
            %}
          </ul>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
